<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="JobsApi">
  <test thread-count="5" name="CRUDmethods">
    <classes>
      <class name="jobs_API_Test_CRUDmethods.GETRequest"/>
      <class name="jobs_API_Test_CRUDmethods.DELETErequest"/>
      <class name="jobs_API_Test_CRUDmethods.POSTRequest"/>
      <class name="jobs_API_Test_CRUDmethods.PUTRequest"/>
          
    </classes>
  </test> <!-- CRUDmethods -->
</suite> <!-- JobsApi -->
