<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="lmsApi">
  <test thread-count="5" name="CRUDmethods">
    <classes>
      <class name="lms_API_Test_CRUDmethods.PUTRequest"/>
      <class name="lms_API_Test_CRUDmethods.DELETERequest"/>
      <class name="lms_API_Test_CRUDmethods.GETRequest"/>
      <class name="lms_API_Test_CRUDmethods.POSTRequest"/>
  
    </classes>
  </test> <!-- CRUDmethods -->
</suite> <!-- lmsApi -->
